<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div>
  <div class="split left">
    <h1>Trello lets you work more collaboratively and get more done.</h1>
      <p>Trello’s boards, lists, and cards enable you to organize and 
      prioritize your projects in a fun, flexible, and rewarding way.
    </p>
    </div>
   <div class="split right">
    <img class="right" src="../assets/hero-a.svg">
    </div>
    <div class="input">
      <input type="text"> <button routerLink="/signup">Sign Up - It's Free!</button>
    </div>
  </div>
</body>
</html>